<%= image_tag @department.main_image %>

<h1><%= @department.title %></h1>

<em><%= @department.subtitle %></em>

<p><%= @department.body %></p>

<h2>Technologies Used:</h2>

<% @department.technologies.each do |t| %>
<p><%= t.name %></p>
<% end %>